@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #111111;
  color: white;
  padding: 5px;
}

.body_cont {
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid white;
  height: 100vh;
}

.topbar_div {
  width: 100%;
  height: 10%;
  border: 1px solid white;
}

.bottom {
  height: 90%;
  width: 100%;
  display: flex;
  gap: 20px;
}

.sidebar_div {
  width: 20%;
  border: 1px solid white;
}

.child_div{
  width: 80%;
  border: 1px solid white;
}
